.center {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.font {
  font-family: Bradley Hand, cursive;
}
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
